






.header{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 1160px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
    margin: 0;
}

.navbar-2 {
    display: flex;
    list-style: none;
    gap: 40px;
}
.list-item {
    margin: 0 1rem;
}

.navbar-2 a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
.home{
    color: orange;
    font-size: 1.3rem;
}
.about{
    color: skyblue;
    font-size: 1.3rem;
}
.facilities{
    color: rgba(5, 212, 223, 1);
    font-size: 1.3rem;
}
.admission{
    color: rgba(93, 88, 239, 1);
    font-size: 1.3rem;
}
.contract{
    list-style: none;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 15px 40px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4rem;
}




/* Responsive styles for mobile screen */
@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-2 {
        display: none; 
        flex-direction: column;
        background-color: #333;
        width: 100%;
        padding: 1rem 0;
    }

    .navbar-2.active {
        display: flex; 
    }

    .menu-icon {
        display: block;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        margin-top: 10px;
    }
}
